@tailwind base;
@tailwind components;
@tailwind utilities;
.sqr {
 width: 8vmin;
  height: 8vmin;
}
.dragging{
  cursor: grabbing;
  z-index: 999;
}
.glow{
  animation: glow 2s infinite;

}
@keyframes glow {
  0%,100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.25);
  }
}
.fadein {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}