@tailwind base;
@tailwind components;
@tailwind utilities;
.sqr {
 width: 8vmin;
  height: 8vmin;
}
.dragging{
  cursor: grabbing;
  z-index: 999;
}
.glow{
  animation: glow 2s infinite;
}
@keyframes glow {
  0%,100% {
    fill:#1B1B1B;
  }
  50% {
    fill: #313131;
  }
}